@import url('./fonts.css');

@import url(./partials/_variables.css);

@import url(./partials/_global.css);

/*nav*/

.header-area .main-menu .navbar .navbar-brand{
    padding: 0 2rem 0 5rem;
}

.header-area .main-menu .navbar{
    padding: 1rem 15rem;
}

.header-area .main-menu .nav-item .fab{
    color: black;
    padding: 1rem 1rem;
}



.header-area .main-menu .nav-item .nav-link{
    font: normal bold 500 15px/2px var(--roboto);
    font-size: 1.2rem;
    padding: 1.7rem;
    color: var(--title-color);
}


.header-area .main-menu .navbar-nav a:hover{
    -webkit-text-fill-color: #064ea1;
}




/*end of nav*/


/*banner-area*/

/* .site-main .site-banner{
    background: url('../img/illustration3.jpg') no-repeat 0% 50%;
     
}*/

.site-main .site-banner .site-title{
    align-content: flex-end;
}

.site-main .site-banner .site-title h3{
    padding-top: 35%;
    font-weight: 500;
}

.site-main .site-banner .site-title h3::after{
    content: "";
    height: 2px;
    width: 18vw;
    background: black;
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-10px);
}

.site-main .site-banner .site-title h1{
    font-size: 5rem;
    
}

.site-main .site-banner .site-title h4{
    font-size: 2rem;
    padding-bottom: 5px;
}


/*end of banner-area*/


/*about area*/

.site-main .about-area{
    /* margin-top: 15rem; */
    padding: 10rem 5rem;
}

.site-main .about-area .about-title h2 > span{
    display: block;
    font: normal bold 49px/60px var(--roboto);
    letter-spacing: 5px;
}

.site-main .about-area .about-title .paragraph > p{
    padding: .4rem 0;
}

/*end of about area*/


/* Brand area */

.site-main .brand-area{
    padding: 1rem 20rem;
    margin-bottom: 4rem;
}

.site-main .brand-area .first-row .col-lg-4{
    display: flex;
    justify-content: center;
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand{
    text-align: center;
    padding: 0rem 0rem;
    margin: .9rem 0;
    width: auto;
    height: 100px;
    cursor: pointer;
    transition: transform .4s ease;
}

/* .site-main .brand-area .first-row .col-lg-4 > .single-brand{
    width: 50%;
} */
.site-main .brand-area .first-row .col-lg-4 > .single-brand:hover{
    box-shadow: var(--box-shadow);
    transform: scale(1.1);

}


.site-main .brand-area .experience-area span{
    display: block;
}

.site-main .brand-area .experience-area{

    padding-top: 4rem;
    padding-left: 2rem;
    /* padding-right: 1rem; */
    /* padding-left: 5rem; */

    width: 32em;
    height: 30rem;
    color: #1b262c;
    
    background: #fcfcfc;
   

}

.site-main .brand-area .experience-area .years{
    font: normal bold 4rem var(--roboto);
}


.site-main .brand-area .experience-area .contact-area{
    padding-top: 25px;
    color: #866e59;
}

.site-main .brand-area .experience-area .contact-area .fas{
    padding-top: 15px;
}

.site-main .brand-area .experience-area .contact-area .mail{
    font: normal bold 2rem var(--roboto);
    padding-top: 5px;
    color: #3c415c;
    border: 2px black solid;
    padding: 20px 50px;
}

/* End of Brand area */




/* Services Area */

.site-main .services-area{
    padding: 7rem 2rem;
}

.site-main .services-area .services-title{
    padding: 0 14rem;
}

.site-main .services-area .services-title h1{
    font-size: 3rem;
}

.site-main > .services-area .services{
    background: rgba(248, 252, 253, 0.973);
    padding: 2rem 0;
    width: 16rem;
    margin: 2rem 0rem;
    transition: box-shadow .4s ease;
}

.site-main > .services-area .services:hover{
    box-shadow: var(--box-shadow);
}


.site-main .services-area .services-title .drop-in{
    font: normal bold 2.5rem var(--roboto);
    white-space: nowrap;
    
    
}

/* End of Services Area */
